h1 {
    text-align: center;
    font-family: 'Special Elite', cursive;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Indie Flower', cursive;
  }
  
  label {
    margin-right: 10px;
  }
  
  table {
    text-align: center;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
  }
  
  thead th {
    text-align: center;
    background-color: #3763c2;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
  }
  
  tbody td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
  }
  