*{
    padding:0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

h1 {
    margin: 10px;
    text-align: center;
    font-family: 'Special Elite', cursive;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Indie Flower', cursive;
   
  }

  .botao {
    padding: 5px;
   cursor: pointer;
  background-color: #3763c2;
  border: none; 
  padding-top: auto;
  margin: 10px;
  font-style: italic;
  }
  
  label {
    margin-right: 10px;
  }
  
  table {
    text-align: center;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
  }
  
  thead th {
    text-align: center;
    background-color: #3763c2;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
  }
  
  tbody td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
  }
  

